<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.didim.project1.user.mapper.UserMapper">

    <select id="findByEmail" resultType="com.didim.project1.user.entity.User">
        SELECT id, email, password, name
        FROM user
        WHERE email = #{email}
    </select>

    <select id="findById" resultType="com.didim.project1.user.entity.User">
        SELECT id, email, password, name
        FROM user
        WHERE id = #{id}
    </select>

    <select id="save" resultType="com.didim.project1.user.entity.User">
        INSERT INTO user (email, password, name, is_deleted)
        VALUES (#{email}, #{password}, #{name}, #{isDeleted})
    </select>

    <update id="update">
        UPDATE user
        SET password = #{newPassword}
        WHERE id = #{userId}
    </update>

</mapper>